# Основные параметры среды
NODE_ENV=development # production, test, development
PORT=3000

# CORS разрешённые origin'ы (через запятую)
CORS_ORIGINS=http://localhost:3000,http://localhost:5173

# Конфигурация базы данных
DB_PORT=3306
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=password
DB_NAME=db_name

# JWT, авторизация, секреты
JWT_SECRET=your-secret-key-here
