{
    "semi": false,
    "trailingComma": "es5",
    "singleQuote": true,
    "useTabs": false,
    "tabWidth": 4,
    "printWidth": 120,
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "insertPragma": false,
    "requirePragma": false,
    "quoteProps": "as-needed"
}
